@import './globals.css';

.pill {
    display: flex;
    background-color:#D9D9D9;
    border-radius: 100px;
    width: hug;
    height: hug;
    padding: 0px 17px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    display: inline-block;
}
  
.pilltext {
    font-size: 20px;
    font-weight: normal;
}